<?xml version='1.0' encoding='utf-8'?>
<widget id="com.outsystemsenterprise.tdgdev.OCRNPD" version="3.8.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Anyline Cordova Example</name>
    <preference name="deployment-target" value="12.0" />
    <preference name="SwiftVersion" value="4.2" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="Orientation" value="portrait" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />

    <allow-navigation href="http://app/*"/>
    <allow-navigation href="https://app/*"/>
    <allow-navigation href="http://localhost/*"/>
    <allow-navigation href="https://localhost/*"/>

    <!-- Requested by cordova-plugin-file for Android -->
    <preference name="AndroidPersistentFileLocation" value="Internal" />

    <!-- To decrease the size of the SDK, list down the modules (separated by colons) to be
        kept with the app bundle in the value of key below, all others will be removed. If
        this value is empty, all modules are untouched.
        
        The following modules can be removed:
        - module_anyline_ocr
        - module_barcode
        - module_document
        - module_energy
        - module_id
        - module_license_plate
        - module_tire
        Example: value="module_energy:module_id:module_anyline_ocr"
    -->
    <preference name="module" value="module_energy"/>
    <preference name="anyline-retain-assets-pattern" value="" />
</widget>
